<%= form_with model: [@article, @article.comments.build] do |form| %>
<p class>
    <%= form.label :username%><br>
    <%= form.text_field :commenter%>
</p>
<p>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
</p>
<button class = "border bg-black text-white rounded-md flex justify-center p-2 mx-10">
    <%= form.submit %>
</button>
<% end %>